<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>[Your Header]</title>
</head>

<body>
    <div style="margin:auto; width: 500px; text-align: center;">
        Create the basic page structure here, and every file extending it will render it as a wrapper.
        <br/>
        You can create and include other base structures like sidebar, header, footer etc.
        <br/>
        {% block content %}
        {% endblock %}
    </div>
</body>

</html>